
    
      
  <!-- app.component.html -->
<div style="background-image:url('https://image.slidesdocs.com/responsive-images/background/food-gourmet-chinese-food-powerpoint-background_b078863403__960_540.jpg');
">
  <div class="container" style="height:max-content">
    <iframe src="assets/project.html" width="100%" height="500px" frameborder="0"></iframe>
  </div>
<div class="form-container" style="height: min-content;">
    
    <form (ngSubmit)="onSubmit()">
      <div>
        <label style="color:whitesmoke;"   for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      
      <div>
        <label style="color:whitesmoke;"   for="email">Email:</label>
        <input style="color:whitesmoke;"   type="email" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
  
      <div>
        <label style="color:whitesmoke;"   for="feedback">Feedback:</label>
        <textarea id="feedback" name="feedback" [(ngModel)]="formData.feedback" required></textarea>
      </div>
      
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
</div>
</div>
  
  
  
  